@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
.body {
    background-color: #ecf1f6;
}

.all_content {
    background-color: #F1F7FE;
}

ul,
li {
    list-style: none;
}

/* サイドバー */
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #03AAD2;
    font-weight: bold;
}

.main-container {
    width: 100%;
}

.sidebar p a {
    color: #FFF;
    padding-left: 5px;
    position: relative;
    top: 6px;
}

/* トップページ */
.user_status {
    border-radius: 10px;
    background: #FFF;
}

.name {
    position: relative;
    bottom: 30px;
    right: 135px;
}

/* スクール予約関連 */
.day-blank {
    background: #D3D3D3;
}

.day-sat {
    color: #0000FF;
}

.day-sun {
    color: #FF0000;
}

.past-day {
    background: #EEE;
}

.calendar-td {
    min-width: 100px;
}

.day_part {
    color: #494949;
    font-size: 12px;
}

.adjust-table {
    width: 70% !important;
}

.adjust-table td {
    padding: 0 !important;
}

.adjust-area p {
    justify-content: space-around;
}

.adjust-table-btn {
    width: 70%;
}

/* モーダル */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px 145px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* 掲示板 */
/* アコーディオンメニュー */
.accordion {
    margin-bottom: 45px;
}

.accordion summary {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #333333;
    font-size: 1.1rem;
    cursor: pointer;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform .3s;
    position: relative;
    top: 0;
    right: 12px;
}

.accordion[open] summary::after {
    transform: rotate(225deg);
}

.accordion input {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    color: #333333;
    transition: transform .5s, opacity .5s;
    margin-left: 5px;
}

.accordion[open] input {
    transform: none;
    opacity: 1;
}

.main_categories {
    max-width: 500px;
    margin-bottom: 7px;
    border-bottom: 2px solid #d0d0d0;
}


.post_create_area {
    background: #FFF;
    border-radius: 10px;
}

.post_create_area textarea {
    resize: none;
    height: 300px;
    white-space: pre-wrap;
}

.detail_container {
    background: #FFF;
    border-radius: 15px;
}

.post_area {
    background: #FFF;
    border-radius: 10px;
}

.post_bottom_area {
    justify-content: space-between;
}

.fa-comment {
    color: #aaa;
}

.un_like_btn {
    cursor: pointer;
    color: #E2254D;
}

.like_btn {
    color: #aaa;
}

.error_message {
    font-size: 12px;
    color: red;
}

.icon_flex {
    display: flex;
    justify-content: space-between;
}

.m-0,
.fa {
    margin-right: 4px;
}


/* 掲示板 詳細画面 */
.contributor {
    font-size: 12px;
    color: #999;
    font-weight: bold;
}

.detsail_post_title {
    font-size: 14px;
}

.detsail_post {
    font-size: 12px;
    color: #9E9E9E;
}

.detail_inner_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-modal-open {
    cursor: pointer;
}

.modal-inner-body textarea {
    height: 147px;
    resize: none;
}

.edit-modal-btn {
    justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
    background: #FFF;
    margin-top: 20px;
}

.comment_area {
    border-radius: 15px;
}

.comment_area input {
    font-size: 12px;
    display: block;
    margin-left: auto;
}

.comment_area p {
    font-size: 12px;
    font-weight: bold;
}

.comment_area textarea {
    height: 300px;
    resize: none;
}

.comment_container span {
    font-size: 12px;
}

.post_status span {
    font-size: 12px;
}



/* 掲示板　カテゴリー */
#search_content {
    margin-top: 50px;
}

.category_area {
    background: #FFF;
    border-radius: 10px;
}

.category_box {
    border-radius: 5px;
    padding: 3px;
    background: #999;
    font-size: 10px;
    color: #FFF;
}

.category_btn {
    font-size: 12px;
    border-radius: 7px;
    padding: 5px;
    border: none;
    background: #03aad2;
    color: #FFF;
}

.posted_like_btn {
    width: 137px;
    padding: 8px;
    background-color: #e38eab;
    color: #fff;

}

.my_post_btn {
    width: 137px;
    padding: 8px;
    background-color: #ebbc5d;
    color: #fff;
}

.color_btn {
    margin-bottom: 15px;
}

.main_categories span,
.sub_categories li input {
    list-style: none;
    cursor: pointer;
}

.sub_categories {
    border: none;
    background-color: #f1f7fe;
    display: inline-block;
    margin-left: 55px;
    cursor: pointer;
    max-width: 500px;
    margin-bottom: 7px;
}

.sub_categories_p {
    margin: 20px 80px 20px 20px;
    border-bottom: 2px solid #d0d0d0;
}

.post_btn {
    width: 280px;
    text-align: center;
    background-color: #03aad2;
    border-radius: 5px;
    margin-bottom: 15px;
    display: block;
    color: #fff;
    padding: 7px;
    border: none;
}

.post_btn a {
    display: block;
    color: #fff;
    padding: 5px;
}

.search {
    width: 280px;
    display: flex;
    margin-bottom: 15px;
}

.search_area {
    display: inline-block;
    width: 208px;
    margin: 0;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px 0 0 5px;

}

.search_btn {
    display: inline-block;
    width: 72px;
    margin: 0;
    border: none;
    background-color: #03aad2;
    color: #fff;
    border-radius: 0 5px 5px 0;
    padding: 5px;
}

.line {
    width: 275px;
    height: 2px;
    background-color: gray;
    display: block;
    margin: 15px 0;
}


/* ユーザー検索 */
.search_content {
    justify-content: space-between;
}

.search_content,
.search_area,
.reserve_users_area {
    background-color: #f1f7fe;

}

.reserve_users_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 955px;
    margin: 10px auto;
    overflow: scroll;
    padding: 25px;
    border-radius: 5px;
}

.reserve_users_area::after {
    content: "";
    display: block;
    width: 23%;
    /* 子要素と同じ幅 */
}

.reserve_users_area::before {
    content: "";
    display: block;
    width: 23%;
    /* 子要素と同じ幅 */
    order: 1;
    /* アイテムの並び順 orderが指定されていないアイテムは0番目になる→最初に並ぶ*/
}

.reserve_users_area span {
    font-size: 12px;
}

.one_person {
    width: 23%;
    /* 親要素の1/4より小さい値 */
    height: 210px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff, 0 0 10px #ccc, 0 0 10px #aaa;
    margin-bottom: 25px;
    background: #fff;
}

.search_conditions span {
    cursor: pointer;
}

.search_conditions_inner {
    display: none;
}



.subject_edit_btn {
    font-size: 12px;
    color: #0000FF;
    cursor: pointer;
}

.subject_inner {
    display: none;
}

.profile_p {
    font-weight: bold;
}

/* ユーザー検索　検索エリア */
.lavel_l {
    font-size: 1.5rem;
    color: #466d91;
}

.lavel_m {
    font-size: 0.9rem;
    color: #466d91;
    display: block;
}

.answer,
.search_area_inner select {
    display: block;
    border: none;
    background-color: #e0e5e9;
    padding: 5px;
    border-radius: 5px;
}

.sex_area {
    display: block;
}

.select_area {
    display: inline-block;
}

.reset_btn {
    border: none;
    background-color: #f1f7fe;
    color: #03aad2;
    display: block;
    margin: 0 auto;
}

/* 新規登録 */

.birth_error s {
    display: inline;

}

.errors {
    color: red;
    font-size: 11px;
}

.errors p {
    margin-bottom: 0;
}

/* ログイン画面 */
.home_box {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.icon {
    width: 22px;
}

.atlas {
    text-align: center;
}

.atlas img {
    width: 50%;
    margin-bottom: 30px;
}

.content_w {
    width: 400px;
}

.shadow_border {
    border-radius: 10px;
    box-shadow: 0 0 10px #fff, 0 0 10px #ccc, 0 0 10px #aaa;
    margin: 10px;
    background: #fff;
}

.text-center {
    padding-bottom: 18px;
}

.input_bg {
    background-color: #fff;
}

.d-block {
    font-size: 13px;
    font-weight: bold;
}

/* 新規登録 */

.birth_flex {
    display: flex;
    justify-content: space-between;
}

.old_year,
.old_month,
.old_day {
    border: none;
    width: 80px;
}

.birth_content {
    display: flex;
}

.sex_box {
    display: flex;
    justify-content: space-around;
}

/* カレンダー */
.calender_border {
    border: solid 1px #dee2e6;
}

.reserve_btn {
    position: relative;
    top: 15px;
}

/* スクール予約　モーダル */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

#modal_p {
    text-align: left;
    color: #494949;
}

.modal_btn {
    display: flex;
    justify-content: space-between;
}

.modal_btn a {
    display: block;
}
